<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FTWPlayer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <FTWPlayer.Properties.Settings>
      <setting name="ProcessPriority" serializeAs="String">
        <value>AboveNormal</value>
      </setting>
      <setting name="InstanceCreationTimeout" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="RememberVolume" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVolume" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="VolumeFadeOutOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxEqualizerGain" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowToolTips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideDefaultLanguage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVersion" serializeAs="String">
        <value />
      </setting>
    </FTWPlayer.Properties.Settings>
  </userSettings>
</configuration>