<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FTWPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <FTWPlayer.Properties.Settings>
      <setting name="ProcessPriority" serializeAs="String">
        <value>AboveNormal</value>
      </setting>
      <setting name="InstanceCreationTimeout" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="RememberVolume" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVolume" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="VolumeFadeOutOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxEqualizerGain" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ShowToolTips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideDefaultLanguage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableKeyboardHook" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>pack://application:,,,/Skins/Glacier</value>
      </setting>
      <setting name="DesiredMaxHeight" serializeAs="String">
        <value>540</value>
      </setting>
      <setting name="DesiredWidth" serializeAs="String">
        <value>540</value>
      </setting>
      <setting name="ScrollingTextFormat" serializeAs="String">
        <value>{Tag.JoinedPerformers&gt;Tag.JoinedAlbumArtists&gt;"Unknown Performer"} - {Tag.Title&gt;FileName&gt;"Unknown Title"}</value>
      </setting>
      <setting name="TrayIconPreference" serializeAs="String">
        <value>3</value>
      </setting>
    </FTWPlayer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
