<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIocAttributes.dll" version="5.0.0" targetFramework="net471" />
  <package id="Fody" version="4.2.1" targetFramework="net471" developmentDependency="true" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net471" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net471" />
</packages>